{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pg_title %}Sahil{% endblock pg_title %}</title>

    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "tasks/partials/header.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block css_style %}{% endblock css_style %}    
<!-- Css-->
<!-- Js-->
{% block js_block %}{% endblock js_block %}

</head>
<body>
    <!-- Nav-->
{% include "./partials/header.html" %}

<!--body content-->
    {% block main_body %}{% endblock main_body  %}

</body>
</html>